{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
 <div class="container" align="center">
<br><br><div class="card border-primary mb-3" style="max-width: 50rem;">
  <div class="card-header">    <h1 class="h3 mb-3 font-weight-normal">Veuillez-vous connectés</h1></div>
  <div class="card-body">
 

    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>

    <div class="form-group">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
     <button class="btn btn-lg btn-primary" type="submit">  se connecter </button>


  </div>
</div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    </div>
</form>

{% endblock %}
