{% extends 'base.html.twig' %}

{% block title %}G-Reclamation!{% endblock %}

{% block body %}

<body background->
   <br><br> <div class="jumbotron" align="center">
        <h1 class="display-3"><marquee direction="right" behavior="alternate">Bienvenu !</marquee></h1>
        <p class="lead">ceci  est la plateforme de gestion de réclamation de l'Université de THIES .</p>
        <hr class="my-4">
        <p class="display-6">Alors cliquez juste ici pour vous connectez.</p>
        <p class="lead">
            <a class="btn btn-primary btn-xlg" role="button" href="{{path('app_login')}}">LET'S GO</a>
        </p>
        </div>
</div>
</body>
{% endblock %}
