{% extends 'base.html.twig' %}

{% block title %}apropos{% endblock %}

{% block body %}


    <br><br> <br><div class="jumbotron" align="center">
         <p class="lead">
                <div class="entity entity-paragraphs-item paragraphs-item-paragraphs-content" about="" typeof="" id="quoi-sert-la-plateforme-de-reclamation">
            <div class="content">
            
                 <h1 class="field field-name-field-p-title field-type-text field-label-hidden">
                        A quoi sert la plateforme de réclamation?  </h1>

                     <h5>La plateforme de gestion des réclamations vous permet :</h5>

                    <p align="justify">  <ul  ><li>De déposer une réclamation à travers un formulaire détaillé qui favorise un traitement rapide ;</li><br>
                        <li>De recevoir des accusés de réception et des notifications par e-mail ;</li><br>
                        <li>De disposer d’un numéro de dossier pour suivre l’état d’avancement du dossier ;</li><br>
                        <li>De communiquer, en cas de besoin, les informations complémentaires et les pièces justificatives nécessaires.</li><br>
                    </ul> </p> </div>
             </div>
           
            <a class="btn btn-primary btn-xlg" role="button" href="{{ path('reclamation_new') }}">Faire une réclamtion</a>

        </p>
        </div>
    </div> 
{% endblock %}
