{% extends 'base.html.twig' %}

{% block title %}Confirmation!{% endblock %}

{% block body %}


    <br><br> <br><div class="jumbotron" align="center">
         <h1 class="display-4">{{message}}   </h1> 
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-xlg" role="button" href="{{ path('app_logout') }}">Deconnexion</a>
            
            <a class="btn btn-primary btn-xlg" role="button" href="{{ path('reclamation_show', {'id': reclamation.id}) }}">Voir</a>
            <a class="btn btn-primary btn-xlg" role="button"  href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">Modifier</a>
    
            <a class="btn btn-primary btn-xlg" role="button" href="{{ path('reclamation_new') }}">Refaire une réclamtion</a>

        </p>
        </div>
    </div> 
{% endblock %}
