{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
     {% if app.user %}
        <div class="mb-3">
            Vous vous connectés en temps que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}
    <table><h1 align='center'>Liste des réclamations</h1></table><br>

    <table  class=" table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Motif</th>
                <th>Matiere</th>
                <th>Prof</th>
                <th>DateCreation</th>
                {% if is_granted('ROLE_ADMIN')%}
                <th>Etudiant</th>
                 {% endif %}
                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.motif }}</td>
                 <td>{{ reclamation.matiere }}</td>
                <td>{{ reclamation.professeur }}</td>
                
                <td>{{  reclamation.dateCreation|date('Y-m-d-H:m') }}</td>
                 {% if is_granted('ROLE_ADMIN')%}
                  <td>{{reclamation.user.email}}</td>
                 {% endif %}
                <td>
                    <a href="{{ path('reclamation_show', {'id': reclamation.id}) }}">voir</a>
                    {% if is_granted('ROLE_USER')%}
                          <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">modifier</a>
                    {% endif %}
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER')%}
         <br><br> <a class="btn btn-primary btn-lg btn-block" role="button" align="center"href="{{ path('reclamation_new') }}">Faire une réclamaton</a>
    {% endif %} 
{% endblock %}

