{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réclamation{% endblock %}

{% block body %}
 {% if app.user %}
        <div class="mb-3">
            Vous vous connectés en temps que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
 {% endif %}
<div class="container"align="center">

<table class="table table-bordered"  >


<div class="card border-success mb-3" style="max-width: 100rem;">
  <div class="card-header"> <h2> Faire une nouvelle réclamation</h2></div><br>
  <div class="card-body">
    {{ include('reclamation/_form.html.twig') }}
  </div>
</div>
  

    

     {# <a href="{{ path('reclamation_confirmation', {'id': reclamation.id}) }}"></a> #}
  {#<a href="{{ path('reclamation_confirmation'), {'id': reclamation.id})  }}">truc</a>#}
</table>
</div>

{% endblock %}
