<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
         <link rel="stylesheet" href="/bootstrap.min.css"/>
{#         <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css"/>
 #}        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
       
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="UT.png" width=70 height=50>
          <a class="navbar-brand" >  G-Reclamat!on</a>
          <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarColor01">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Acceuil
                  <span class="sr-only">(current)</span>
                </a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/propos">A propos</a>
              </li>
             
            </ul>
            {# <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> #}
          </div>
        </nav>
        <div class="container">
          {% block body %}{% endblock %}
        </div>
    </body>
</html>
